.main {
    padding-left: 20%;
    padding-top: 1%;
    background: #15171a;
    min-height: 110vh;
}

@media screen and (max-width:1024px) {
    .main {
        padding-left: 0%;
    }
}


.pieCharts {
    display: flex;
  justify-content: space-around; /* or use space-between / flex-start / flex-end depending on your design */
  align-items: center;
  flex-wrap: wrap; /* Allows wrapping if the viewport is too small */
  gap: 20px; /* Adds space between the charts */

  }

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.cards>.child {
    background-color: #242424;
    height: 200px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
    cursor: pointer;
    text-align: center; /* Center text */
}

.cards>.child:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.cards>.child h6 {
    font-size: 2vw;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
}

.cards>.child p {
    font-size: 2vw;
    font-weight: 600;
    color: #ffffff;
    margin: 0; /* Remove default margin */
}

@media screen and (max-width:650px) {
    .cards>.child p {
        font-size: 7vw;
        padding-left: 0em;
    }
    
    .cards>.child h6 {
        font-size: 8vw;
    }
}

.chart {
    width: 96%;
    padding: 2%;
    box-shadow: 0px 0px 10px -4px rgba(255, 255, 255, 0.79);
    margin-top: 1em;
}
